.hght-90 {
    height: 90vh;
}

.align-items-center {
    align-items: center;
}

.align-items-left {
    align-items: left;
}

.padding {
    padding-block: 1rem .85rem;
}

.sticky-top {
    position: sticky;
    top: 0px;
}

.padding-inline-box {
    padding-inline: var(--page-padding);
}

.dp-spc-btwn {
    display: flex;
    justify-content: space-between;
}

.dp-jstfy-center-flx-clmn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* background */

.wth-bg {
    background-color: var(--white-color);
}

.bg-image {
    background-image: url("../../images/main-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}