/* font-sizes */
.h1-title {
    font-size: var(--size-h1);
}

.h2-title {
    font-size: var(--size-h2);
}

.paragraph {
    font-size: var(--size-p);
}

/* weight */

._link-wght500 {
    font-weight: 500;
}

/* color */

.wht-color {
    color: var(--white-color);
}

.image-container-fit img {
    width: 100%;
}

.flx-row {
    display: flex;
    align-items: center;
}

.gap1 {
    gap: var(--gap3);
}

.box-position-relative {
    position: relative;
}